<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SecuriboxCloudAgentsConfiguration" type="Securibox.CloudAgents.Configurations.SecuriboxCloudAgentsConfiguration, Securibox.CloudAgents" />
  </configSections>
  <SecuriboxCloudAgentsConfiguration authMode="basic" baseAddress="https://sca-multitenant.securibox.eu/" username="securiboxdemo" password="bF3J5pPLXQzwS8Sc" />
</configuration>