<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SecuriboxCloudAgentsConfiguration" type="Securibox.CloudAgents.Configurations.SecuriboxCloudAgentsConfiguration, Securibox.CloudAgents"/>
  </configSections>
  <SecuriboxCloudAgentsConfiguration authMode="basic" baseAddress="https://sca-multitenant.securibox.eu/" username="username" password="password"/>
</configuration>