<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AuthClientConfiguration" type="cloudagents_csharp.cloudagents.core.AuthClientConfiguration, cloudagents-csharp.cloudagents"/>
  </configSections>
  <AuthClientConfiguration authMode="basic" baseAddress="https://sca-multitenant.securibox.eu/" username="securiboxrhdev" password="Password12$"/>
</configuration>