<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AuthClientConfiguration" type="Securibox.CloudAgents.SDK.Core.AuthClientConfiguration, Securibox.CloudAgents.SDK"/>
  </configSections>
  <AuthClientConfiguration authMode="basic" baseAddress="https://sca-multitenant.securibox.eu/" username="securiboxrhdev" password="Password12$"/>
</configuration>